.hero {
  background-color: #2e2f42;
  background-image: url("../images/hero-bg.png");
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto 48px;
  max-width: 496px;
}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}